<!DOCTYPE html>
<html>
	<head>
		<title>Test</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				
				var dice_images = [
							{"path": "/static/img/one.jpg"},
							{"path": "/static/img/two.jpg"},
							{"path": "/static/img/three.jpg"},
							{"path": "/static/img/four.jpg"},
							{"path": "/static/img/five.jpg"},
							{"path": "/static/img/six.jpg"}
				];
				
				$(".roll-dice").click(function() {
					var number = this.id;
					var images = '';
					$.getJSON('/roll-dice/'+number, function(data) {
						
						var values = data.dices;
						
						for (var i=0; i<number; i++) {
							images += "<img src='"+ dice_images[values[i]-1].path +"' alt='"+values[i]+"' width='30px' height='30px'/>"
						}
						
						$('#images').append("<li>"+images+"</li>");			
					});	
				});
			});
 			
    		
		</script>
		<style type="text/css">
			body{}
			#images {height: 30px; list-style-type: none;}
			#roll-dice{float: left}
		</style>
	</head>
	<body>
		<a id="1" class="roll-dice" href="#">Roll Dice</a> | 
		<a id="2" class="roll-dice" href="#">Roll Dice</a> | 
		<a id="3" class="roll-dice" href="#">Roll Dice</a> | 
		<a id="4" class="roll-dice" href="#">Roll Dice</a> | 
		<a id="5" class="roll-dice" href="#">Roll Dice</a>
		<ul id="images">
		</ul>
		
	</body>
</html>
