<!DOCTYPE html>
<html>
	<head>
		<title>Test</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script>
			$(document).ready(function() {
				
				var dice_images = [
							{"path": "/static/img/one.jpg"},
							{"path": "/static/img/two.jpg"},
							{"path": "/static/img/three.jpg"},
							{"path": "/static/img/four.jpg"},
							{"path": "/static/img/five.jpg"},
							{"path": "/static/img/six.jpg"}
				];
				
				$(".roll-dice").click(function() {
					var path = $(this).attr("data-ajax");
					var images = '';
					$.getJSON(path, function(data) {
						
						var values = data.dices;
												
						$.each(values, function(i, value) {
    						images += "<img src='"+ dice_images[value-1].path +"' alt='"+value+"' width='30px' height='30px'/>"
  						});
						
						$('#images').prepend("<li>"+images+"</li>").hide().slideDown("slow");
					});	
				});
			});
 			
    		
		</script>
		<style type="text/css">
			body{}
			#images {height: 30px; list-style-type: none; padding: 0px;}
			#roll-dice{float: left}
		</style>
	</head>
	<body>
		<a class="roll-dice" href="#" data-ajax="/roll-dice/1">Roll one Dice</a> | 
		<a class="roll-dice" href="#" data-ajax="/roll-dice/2">Roll two Dices</a> | 
		<a class="roll-dice" href="#" data-ajax="/roll-dice/3">Roll three Dices</a> | 
		<a class="roll-dice" href="#" data-ajax="/roll-dice/4">Roll four Dices</a> | 
		<a class="roll-dice" href="#" data-ajax="/roll-dice/5">Roll five Dices</a>
		<ul id="images">
		</ul>
		
	</body>
</html>
